@using Microsoft.AspNetCore.Mvc.Localization
@model WEBCON.FormsGenerator.Presentation.ViewModels.FormViewModel

@{
    ViewData["Title"] = "Create";
}
@inject IViewLocalizer Localizer
<div class="container d-flex flex-column">
    <form asp-action="Create">
        <div class="d-flex justify-content-between w-100 pt-3 pb-3">
            <div class="w-50"><h3>@Localizer["New form"]</h3></div>
            <div class="w-50 text-end">
                <input type="submit" value="@Localizer["Save and Activate Form"]" class="btn btn-secondary" />
            </div>
            <hr />
        </div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @{await Html.RenderPartialAsync("_FormCommon", Model); }
        @{await Html.RenderPartialAsync("_FormCommonBpsSelectList", Model); }
        @{await Html.RenderPartialAsync("_HtmlEditor", Model); }
        <input type="submit" value="@Localizer["Save and Activate Form"]" class="btn btn-secondary mt-3 float-end" />
    </form>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/variables.js"></script>
    <script src="~/js/htmlEditor.js"></script>
    <script src="~/js/form.js"></script>
}
